* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

canvas {
  display: block;
}

#control-items-container {
  position: absolute;
  top: 30px;
  right: 30px;
  padding: 30px 20px;
  min-width: 300px;
  border: 1px solid #ffffff;
  border-radius: 20px;
}

#control-items-container h2 {
  margin-bottom: 20px;
  color: #ffffff;
}

.control-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 0;
}

.control-item input {
  width: 17px;
  height: 17px;
  cursor: pointer;
}

.control-item label {
  color: #ffffff;
  font-weight: 600;
}

.control-item:nth-child(7) {
  margin-top: 20px;
}